@import 'nib'

global-reset();

lightBlue = #B5CBE9;
highLightBlue = #C2D3E8;
darkBlue = #000015;

/*LAYOUT.jade///////////////////////////////////////////////*/

html {}

body {
	position:relative;
	background-color:darkBlue;
	min-width:475px;
	color:darkBlue;
	font-size:15px;
	line-height:23px;
	font-family:'Palatino LT W01 Roman';
}

a,
a:active,
a:hover,
a:visited {
	color:#000000;
	font-family:'PalatinoLTW01-MediumIta';
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}


/*BHP5 .ir */
/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }


.ir {
	background-image: url("../img/sprite-01.png");
	height:16px;
	width:16px;

  -webkit-transition: opacity 0.3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
     -moz-transition: opacity 0.3s ease-out;  /* Firefox 4-15 */
       -o-transition: opacity 0.3s ease-out;  /* Opera 10.50–12.00 */
          transition: opacity 0.3s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */

  -webkit-transition-delay: .8s; /* Safari */
  		  transition-delay: .8s;

}

.ir.jnstrumentTitle {
	position:absolute;
	height:48px;
	left:33px;
	top:24px;
	width:200px;
	opacity:0.2;
}

.ir.jnstrumentSubtitle {
	position:absolute;
	background-position:  0 -240px ;
	width:400px;
	height:16px;
	
	top:40px;

	left:253px;
}

.ir.neuronIcon {
	background-position:  0 -48px ;
	width:32px;
	height:32px;
}
.ir.lifelineIcon {
	background-position:  -32px -48px ;
	width:32px;
	height:32px;
}
.ir.radarIcon {
	background-position:  -64px -48px ;
	width:32px;s
	height:32px;
}

.ir.title {
	position:relative;
	background-position:  0 -80px;
	width:300px;
	height:96px;

	margin:35px 30px 30px 30px;
}
.ir.getStarted {
	position:relative;
	background-position:  -112px -48px;
	width:300px;
	height:32px;

	margin:35px 30px 10px 30px;
}

.ir.download {
	position:relative;
	background-position:  15px -173px;
	background-color:lightBlue;
	width:300px;
	height:64px;
	margin:0px 20px 20px 20px;
	padding:10px 10px 5px 10px;

}
.ir.download:hover {
	background-color:highLightBlue;
}

.titleBar .ir {	
	opacity:0.25;
}

.index .ir,
.none .ir {
	opacity:1;
}

/*.ir*/



.hoverArea {
	position:fixed;
	margin:0;
	top:0px;	
	left:0px;
	height:30px;
	width:100%;	
}

.titleBar {
	position:fixed;
	margin:0;
	top:0px;	
	left:0px;
	height:48px;
	width:100%;	
	clip:rect(0,240px,72px,0);
	min-width:475px;

  -webkit-transition: clip 0.5s ease-out;  /* Chrome 1-25, Safari 3.2+ */
     -moz-transition: clip 0.5s ease-out;  /* Firefox 4-15 */
       -o-transition: clip 0.5s ease-out;  /* Opera 10.50–12.00 */
          transition: clip 0.5s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */

  -webkit-transition-delay: 0.5s; /* Safari */
  		  transition-delay: 0.5s;

}

.hoverArea:hover .titleBar,
.titleBar:hover {
	clip:rect(0,3000px,72px,0);
  -webkit-transition-delay: 0s; /* Safari */
  		  transition-delay: 0s;

	/*width:100%;*/
}

.titleBar:hover .ir {	
	opacity:1;
  -webkit-transition-delay: 0s; /* Safari */
  		  transition-delay: 0s;
}


.index .titleBar,
.none .titleBar {
	position:fixed;
	width:100%;
	clip:auto;
}

li.active a{	
	opacity:.25 !important;
	cursor:default;

}


.visualsNavigation {
	clearfix();
	position:absolute;
	top:0px;
	right:40px;
	width:186px;
	height:32px;
}

.visualsNavigation li{
	position:relative;
	float:left;
	margin:27px 15px;
	padding-top:2px;
	padding-bottom:2px;
	border-bottom:2px solid darkBlue;
	/*border-top:2px solid darkBlue;*/
}
.visualsNavigation li:hover{
	border-color:lightBlue;
}

.visualsNavigation li.active:hover{
	border-color:darkBlue;
}

@media only screen and (max-width: 	820px) { 
	.ir.jnstrumentSubtitle {
		display:none;
	}
}

/*INDEX.jade///////////////////////////////////////////////*/

.greenishCover {
	position:fixed;
	z-index:-1;
}

.content {
	position:absolute;

	top:130px;
	left:40px;
	width:360px;

	margin-bottom:40px;
}

.content p {
	margin:20px 30px;
}

.content .background {
	z-index:-1;
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:lightBlue;
	opacity:0.8;

}




/*THREEVISUALS.jade///////////////////////////////////////////////*/

#scene {
	position:fixed;
	height:100%;
	width:100%;
	z-index:-1;
}

