!!!5
html
	head
		title #{title} - My Site
		link(rel='stylesheet', href='/stylesheets/guitarHero.css')
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
		script(src='/scripts/libs/jquery-1.7.1.min.js')
		script(src='/scripts/libs/three.js/three.js')

		script(data-name="test", data-src="http://localhost:8000/scripts/shaders/vertexTest.c", type="x-shader/x-vertex")
		script(data-name="test", data-src="http://localhost:8000/scripts/shaders/fragmentTest.c", type="x-shader/x-fragment")

		script(data-name="FunctionElement1", data-src="http://localhost:8000/scripts/shaders/vertex_FunctionElement1.c", type="x-shader/x-vertex")
		script(data-name="FunctionElement1", data-src="http://localhost:8000/scripts/shaders/fragment_FunctionElement1.c", type="x-shader/x-fragment")
		
		script(src='/scripts/libs/AeroTwistShaderLoader.js')

		script(src='/scripts/atom/index.js')

	body
		#scene