!!!5
html
	head
		title #{title} - My Site
		link(rel='stylesheet', href='/stylesheets/guitarHero.css')
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
		script(src='/scripts/libs/jquery-1.7.1.min.js')
		script(src='/scripts/libs/three.js/three.js')
		script(src='/scripts/atom/index.js')
	body
		#scene