extend layout
block content
  form(method = "GET", action= "http://localhost:8000/proxy") 
    span http
    input(type="text", name="url")
block sidebar
  .widget
    h1 Widget
    p
      | Type in the website's url you want to get visualized
