!!!5
html
	head
		title #{title} - Bachelor Thesis
		link(rel='stylesheet', href='/stylesheets/guitarHero.css')
		script(src='/scripts/libs/jquery-2.0.2.min.js')
		script(src='/scripts/libs/three.js/three.js')
		script(src='/scripts/libs/three.js/postprocessing/EffectComposer.js')		
		script(src='/scripts/libs/three.js/postprocessing/RenderPass.js')
		script(src='/scripts/libs/three.js/postprocessing/ShaderPass.js')
		script(src='/scripts/libs/three.js/postprocessing/MaskPass.js')
		script(src='/scripts/libs/three.js/postprocessing/CopyShader.js')

		script(src='/scripts/libs/three.js/postprocessing/BloomPass.js')


		script(src='/scripts/neuron/index.js')

	body
		#scene